/* Fontes */
$fontPrincipal: Roboto, sans-serif;

/* Cores */
$corFundo: #f5f6fa;
$corFundoGreen: #44bd32;
$corFundoGreenHover: #4cd137;
$corFundoRed: #860813;
$corFundoScrollbarThumdRed: #860813;
$corFundoScrollTrack: #444; 


/* Cores de texto */

$corTextoAzulEscuro: #182C61;
$corTextoBranco: #fff;

/* Cores de botões */
$corBotaoGreen: #44bd32;
$corBotaoGreenHover: #4cd137;
$corBotaoRed: #860813;
$corBotaoRedHover: #c05448;

/* mobile */

$mobile: 767px;

/* tablet */

$tablet: 1023px;